<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<title> JazzySnek </title>
		{% load static %}
    	<link rel="stylesheet" type="text/css" href="{% static 'JazzySnek/css/indexStyle.css' %}">
    	<link rel="stylesheet" type="text/css" href="{% static 'JazzySnek/css/topBar.css' %}">
		<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js' ></script>
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="{% static 'JazzySnek/js/audioHandlers.js' %}"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				var element = jQuery(".glowText").get();
				setInterval(function() {
				    $(element).toggleClass('a').animate({
				        textShadow: "0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95"
				    },
				    300,
				    function() {
				        $(element).toggleClass('a').animate({
				            textShadow: "0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #30e0ff, 0 0 30px #30e0ff, 0 0 40px #30e0ff, 0 0 50px #30e0ff, 0 0 75px #30e0ff"
				        });
				    });
				},
				300);
			});
		</script>
	</head>
	<body>
		<span id="pageSong" name="Caravan Palace - Lone Digger.mp3"></span>
		<div id="mainField">
			<div id="topBar">
				<p class="greeting glowText">Welcome back, {{ name }}!</p>
				<div id="controller">
					<form action="/logout" id="logoutForm">
						<input type="submit" id="logout" name="logout" value="Log Out!">
					</form>
					<input type="range" min="1" max="10" value="10" class="slider" id="volumeSlider">
				</div>
			</div>
			<h1 class="title glowText">JazzySnek!</h1>
			<h2 id="description">A Retro-Chic JazzPunk Noir Adventure!</h2>
			<div id="selectScreen">
				<form action="/story_mode">
					<input type="submit" name="story_mode" value="Story Mode!">
				</form>
				<form action="/quick_game">
					<input type="submit" name="quick_game" value="Quick Game!">
				</form>
				<form action="/login_reg">
					<input type="submit" name="login_reg" value="Login and Register!">
				</form>
				<form action="/how_to">
					<input type="submit" name="how_to" value="How to Play!">
				</form>
				<form action="/high_scores">
					<input type="submit" name="high_scores" value="High Scores!">
				</form>
<!-- 				<form action="/snek_facts">
					<input type="submit" name="snek_facts" value="Snek Facts!">
				</form> -->
			</div>
			<img id="JazzySnek" src="{% static 'JazzySnek/images/Snake.gif' %}" alt="Snek">
			<img id="Foptopus" src="{% static 'JazzySnek/images/Foptopus.gif' %}" alt="Foptopus">
		</div>
	</body>
</html>

<!--  -->





